node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
build
cache
artifacts

# custom
cache_forge
out
notes
.vscode

script-deploy-data
broadcast

hardhat-abigen.js
lcov.info